version: '3.8'
services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - db-data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  backend:
    build: ./backend
    environment:
      DATABASE_URL: "postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}?schema=public"
      PORT: 4000
    depends_on:
    - db
    ports:
    - "4000:4000"
    command: ["sh","-c","npx prisma migrate deploy && node -r ts-node/register src/main.ts"]
    volumes:
      - ./backend/src:/app/src
      - /app/node_modules

  frontend:
    build:
      context: ./frontend
    container_name: furniture_frontend
    restart: always
    ports:
      - "3000:3000"
    environment:
      NEXT_PUBLIC_API_URL: http://localhost:4000
      NODE_ENV: development
    depends_on:
      - backend
    volumes:
      - ./frontend:/app
    command: sh -c "npm run dev"
volumes:
  db-data:
